
        <div class="topbar">
            <div class="container">
                <div class="content">
                    <div class="adress">
                        <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
                    </div>
                    <div class="ext-links">
                        <a href="">F</a>
                        <a href="">T</a>
                        <a href="">IN</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Navigation-->
        
        <div class="navbar">
            <div class="logo">
                <a href="/"><img src="/Images/Brand.svg" alt="Onatrix"></a>
            </div>
            <ul class="links">
                <li><a href="/about-us.html">About</a></li>
                <li><a href="/services.html">Services</a></li>
                <li><a href="/projects.html">projects</a></li>
                <li><a href="/contact.html">contact</a></li>
            </ul>
            <a href="#" class="btn-search"><i class="fa-light fa-magnifying-glass"></i></a>
            <button class="toggle_btn btn btn-menu">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>         
    
